<h1>New User</h1><br>
<div class="context">
  <%= render 'form' %>
  <br>
  <% if current_user.nil? %>
    <% if !current_user.nil? %>
      <% if current_user.admin? %>
        <%= link_to 'Back', users_path %>
      <% end %>
    <% end %>
    <%= link_to 'Back', root_path %>
  <% end %>
</div>
