<h1>Hoofdpagina</h1>

<p>
  <%= image_tag 'classroom.jpg', style: 'width: 50%; height: 200px; float: left;' %>
  <%= image_tag 'schoolfront.jpg', style: 'width: 50%; height: 200px; float: left;' %>
</p>
